<%= javascript_pack_tag 'song_download' %>

<h1><%= @album.title %></h1>
<h2>by <%= link_to @album.artist.name, artist_path(@album.artist) %></h2>

<table class="song-list">
<thead>
  <tr>
    <td><input type="checkbox" id="selectAll"/></td>
    <td>Disc</td>
    <td>Track</td>
    <td>Title</td>
    <td>Length</td>
  </tr>
</thead>
<tbody>
<% @album.songs.order(disc_number: :asc, track_number: :asc).each do |song| %>
<tr class="song-row">
  <td><input type="checkbox" id="<%= song.id %>" class="checkbox-song"/></td>
  <td><%= song.disc_number%></td>
  <td><%= song.track_number%></td>
  <td><%= song.title %></td>
  <td><%= format_song_length(song.length) %></td>
</tr>

<% end %>
</tbody>
</table>

<button id="downloadButton" data-url="<%= download_songs_path %>">Download</button>
