<!DOCTYPE html>
<html>
  <head>
    <title>MusicServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li><%= link_to 'Import', root_path %></li>
      <li><%= link_to 'Artists', artists_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
